h1 {/*muda a cor do fundo*/
    background-color: yellow;
    /*tamanho da fonte*/
    font-size: 18px;
    /*tipo da fonte*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /*tamanho da largura da caixa*/
    width: 100%;
    /*altura*/
    height: 50px;
    /*alinhamento do texto*/
    text-align: center;
    /*espaçamento das letras*/
    letter-spacing: 0.4rem;
    /*cor do texto*/
    color: blue;
    /*espaçamento interno (parte superior)*/
    padding-top: 15px;
    /*como a caixa vai ser formada*/
    box-sizing: border-box;
}